html {
    width: 100%;
    height: auto;
    margin: 0% auto !important;
    overflow: auto;
}
body {
    background-color: black;
    background-size: cover;
    color: white;
    min-width: 100%;
    height: auto;
    margin: 0% auto !important;
    overflow: auto;
}
button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;        
}
/* CLASSES -----------------------------------------------------------
---------------------------------------------------------------------- */
.createdDiv {
    margin: 1% 2%;
    font-size: 1vw;
}
.header {
    padding: 2%;
    border-bottom: 2px solid black;
    text-align:  center;
    font-family: 'Marck Script', cursive;
    font-size: 2vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    text-shadow:  2px 2px 8px grey;
    color: black;
    background-color:  t;
    width: 18% !important;
    margin: 2% 0% 0% 0%;
}
.resultsWrapper {
    clear: both;
    width: 66%;
    margin: 0% auto !important;
    margin-top: 2vw !important;
    text-align:  -webkit-center;
    font-size: 1.5vw;
    margin-bottom:  2vw !important;
}
.rps {
    width: 20%;
    padding: 2%;
    margin: 0%;
    background-image: url("../images/Green.jpg");
    border: 30px solid black;
    float: left;
}
.rpslsImg {
    /* width: 15%;
    padding: 2%;
    padding-bottom: -10vw !important;
    margin: 0% auto !important;
    margin-bottom: 0vw !important;
    align-items:  center; */
    width: 100%;
    padding: 1% 0% 10% 0%;
}
.rpslsImgL {
    /* width: 15%;
    padding: 2%;
    margin: 0% auto !important;
    align-items:  center;
    float: left; */
    width: 100%;
    padding: 1% 0% 10% 0%;
}
.rpslsImgR {
    /* width: 15%;
    padding: 2%;
    margin: 0% auto !important;
    align-items:  center;
    float: right; */
    width: 100%;
    padding: 1% 0% 10% 0%;
}
.rpslsWrapper {
    clear: both;
    width: 100%;
}
.rulesCenterImg {
    width: 15%;
    margin: 0% auto;
    margin-left: 4% !important;
}
.rulesLeftArrow {
    width: 15%;
    float: left;
}
.rulesLeftImg {
    float: left;
    margin: 2% 4% 0% 8%;
    width: 12%;
}
.rulesRightArrow {
    width: 15%;
    float: right;
}
.rulesRightImg {
    float: right;
    margin: 2% 8% 0% 4%;
    width: 12%;
}
.theRules {
    width: 100%;
}
/* IDS ---------------------------------------------------------------
---------------------------------------------------------------------- */
#chat {
    float: left;
    width: 85%;
    box-shadow: 2px 2px 2px grey;
}
#chat-form {
    width: 66%;
    margin: 0% auto;
    margin-top:  1.5%;
}
#clearBoth {
    clear: both;
    background-image: url("../images/Green.jpg");
    width: 62.4%;
    padding: 2%;
    margin: 0% auto;
    margin-top: 4.3% !important;
    background-size:  cover;
}
#conversation {
    padding: 5%;
}
#events {
    overflow: scroll;
    position: relative;
    width: 65%;
    height: 15vw;
    border-top: 1vw solid #fff;
    border-left: 1vw solid white;
    margin: auto;
}
#headerText {
    text-align: center;
    color: black;
    padding: 3% 0% 0% 0%;
    font-family: 'Marck Script', cursive;
    text-shadow: 2px 2px 8px grey;
    font-size: 5vw !important;
}
#headerWrapper {
    margin-top: 3% !important;
    background-image: url("../images/Green.jpg");
    background-size:  cover;
    width: 66%;
    margin: 0% auto !important;
}
#imgMarginL {    
    width: 100%;
    padding: 1% 0% 10% 0%;
}
#imgMarginR {
    width: 100%;
    padding: 1% 0% 10% 0%;
}
#lizard {float: right;width: 22%;}
#lossDiv {
    float: right;
    border: 1px solid white;
    width: 25%;
    padding: 1%;
    border-radius: 10px;
}
#paper {
    float: left;
    width: 22%;
}
#rock {
    float: left;
    margin-left:  4%;
    width: 16%;
}
#rulesText {
    text-align: center !important;
    color: black;
    margin: 0% 0% 2% 0%;
    font-family: 'Marck Script', cursive;
    text-shadow:  2px 2px 8px grey;
}
#say {
    background-image:  url('../images/Green.jpg');
    float: right;
    width: 12%;
    font-size: 70%;
    color: white;
    padding: .4 !important;
    box-shadow: 1px 1px 1px grey;
    text-shadow:  2px 2px 8px grey;
    border: 2px inset lightgrey;
}
#scissors {
    width: 16%;
}
#scoreText {
    display: none;
    text-align: center !important;
    color: black;
    margin: 0% 0% 2% 0%;
    font-family: 'Marck Script', cursive;
    text-shadow:  2px 2px 8px grey;
}
#spock {
    float:  right;
    margin-right: 5%;
    width: 15%;
}
#tieDiv {
    border: 1px solid white;
    width: 25%;
    padding: 1%;
    border-radius: 10px;
}
#winDiv {
    float: left;
    border: 1px solid white;
    width: 25%;
    padding: 1%;
    border-radius: 10px;
}

/* Smartphones (portrait) --------------------------------------------
---------------------------------------------------------------------- */
@media only screen and (max-width : 320px) {
    body {
        width: 100% !important;
        margin: 0% auto !important;
    }
    .createdDiv {
        font-size: 4vw;
    }
    .header {
        font-size: 4vw;
        width: 18% !important;
    }
    .resultsWrapper {
        width: 95%;
    }
    /* .row1 {
        width: 12%;
    } */
    /* scissors */
    /* .rpslsImg {
        margin: 10% 0% 5% 0% !important;
    } */
    /* paper */
    /* .rpslsImgL {
        margin: 5% 0% 5% 0% !important;
    } */
    /* lizard */
    /* .rpslsImgR {
        margin: 5% 0% 5% 0% !important;
    } */
    .rpslsWrapper {
        width: 100%;
        border-radius: 10px;
    }
    /* .rulesCenterImg {
        width: 12%;
        margin: 0% auto;
        margin-left: 10% !important;
    } */
    /* .rulesLeftArrow {
        width: 12%;
        float: left;
    } */
    /* .rulesLeftImg {
        float: left;
        margin: 2% 4% 0% 8%;
        width: 10%;
    }
    .rulesRightArrow {
        width: 12%;
        float: right;
    } */
    /* .rulesRightImg {
        float: right;
        margin: 2% 8% 0% 4%;
        width: 10%;
    } */
    .theRules {
        width: 50%;
        margin: 0% 25%;
    }
    #chat {
        width: 75%;
        margin: 1% 0% 2.5% 2.5% !important;
        border-radius: 10px;
    }
    #chat-form {
        width: 100%;
        margin: 0% auto;
        margin-top:  1.5%;
    }
    #clearBoth {
        width: 100%;
    }
    #events {
        width: 100%;
        height: 70vw;
        border: 1px solid #fff;
        /* border-top-left-radius: 10px;
        border-top-right-radius: 10px; */
        border-top
    }
    #headerText {
        font-size: 8vw !important;
        padding: 3%;
    }
    #headerWrapper {
        padding-bottom: 4%;
        width: 100%;
        /* border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px; */
    }
    /* rock */
    /* #imgMarginL {
        margin: 0% 0% 5% 2.5% !important;
    } */
    /* spock */
    /* #imgMarginR {
        margin: -.5% 2.5% 5% 0% !important;
    } */
    #lizard {
        margin: 0% 0% 0% 0%;
    }
    #paper {
        margin: 0% 0% 0% 0%;
    }
    #rock {
        margin: 0% 0% 0% 5%;
    }
    #say {
        width: 15%;
        /* font-size: 3.5vw !important; */
        color: white;
        margin: 1% 2.5% 2.5% 0% !important;
        border-radius: 10px;
    }
    #scissors {
        margin: 0% 0% 0% 0% !important;
    }
    #spock {
        margin: 0% 5% 0% 0%;
    }
    #lossDiv, #tieDiv, #winDiv {
        font-size: 3vw;
    }
}
/* Smartphones (landscape) --------------------------------------------
---------------------------------------------------------------------- */
@media only screen and (min-width : 321px) and (max-width : 600px) {
    .createdDiv {
        font-size: 3.5vw;
    }
    .header {
        width: 19% !important;
        font-size: 4vw;
    }
    .resultsWrapper {
        width: 95%;
        font-size: 3vw;
    }
    /* scissors */
    .rpslsImg {
        margin: 0% 0% 0% 0% !important;
    }
    /* paper */
    .rpslsImgL {
        margin: 0% 0% 0% 0% !important;
    }
    /* lizard */
    .rpslsImgR {
        margin: 0% 0% 0% 0% !important;
    }
    .theRules {
        width: 50%;
        margin: 0% 25%;
    }
    #chat {
        width: 75%;
        margin: 1% 0% 2.5% 2.5% !important;
        border-radius: 10px;
    }
    #chat-form {
        width: 100%;
    }
    #clearBoth {
        width: 100%;
    }
    #events {
        width: 100%;
        height: 70vw;
        border: 1px solid #fff;
    }
    #headerText {
        font-size: 7vw !important;
    }
    #headerWrapper {
        padding-bottom: 5%;
        width: 100% !important;
    }
    /* rock */
    #imgMarginL {
        margin: 0% 0% 0% 2.5% !important;
    }
    /* spock */
    #imgMarginR {
        margin: 0% 2.5% 0% 0% !important;
    }
    #lizard {
        margin: 0% 0% 0% 0%;
    }
    #paper {
        margin: 0% 0% 0% 0%;
    }
    #rock {
        margin: 0% 0% 0% 2.5% !important;
    }
    #rulesText {
        font-size: 7vw;
    }
    #say {
        width: 15%;
        /* font-size: 3.5vw !important; */
        color: white;
        margin: 1% 2.5% 2.5% 0% !important;
        border-radius: 10px;
    }
    #scissors {
        margin: 0% 0% 0% 0% !important;
    }
    #spock {
        margin: 0% 2.5% 0% 0%;
    }
}
/* iPads (portrait) ------------------------------------
---------------------------------------------------------------------- */
@media only screen and (min-width : 601px) and (max-width : 800px) {
    .createdDiv {
        font-size: 2.5vw;

    }
    .header {
        font-size: 3vw;
    }
    .resultsWrapper {
        width: 75%;
        font-size: 2vw;
    }
    .rpslsWrapper {
        width: 100%;
        margin: 0% auto;
    }
    .rulesCenterImg {
        width: 10%;
        margin: 0% auto;
        margin-left: 11.5% !important;
    }
    .rulesLeftArrow {
        width: 8%;
    }
    .rulesLeftImg {
        margin: 0% 8% 0% 8%;
        width: 10%;
    }
    .rulesRightArrow {
        width: 8%;
    }
    .rulesRightImg {
        margin: 0% 8% 0% 8%;
        width: 10%;
    }
    .theRules {
        width: 50%;
        padding: 0% 25%;
    }
    #chat {
        width: 80%;
        margin: 1% 0% 2.5% 0% !important;
        line-height: 3vw;
        border-radius: 10px;
    }
    #chat-form {
        width: 80%;
    }
    #clearBoth {
        padding: 0%;
        width: 80%;
        border-radius: 10px;
    }
    #events {
        width: 80%;
        height: 50vw;
        border: 1px solid #fff;
        /* border-radius: 10px; */
    }
    #headerWrapper {
        padding-bottom: 3%;
        width: 80%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    #rulesText {
        font-size: 5vw;
        padding: 3% 0% 0% 0%;
    }
    #say {
        width: 15%;
        /* font-size: 3.5vw !important; */
        color: white;
        margin: 1% 0% 2.5% 0% !important;
        line-height: 3vw;
        border-radius: 10px;
    }
}
/* DESKTOP -----------------------------------------------------------
---------------------------------------------------------------------- */
@media only screen and (min-width : 801px){
    .createdDiv {
        font-size: 1.2vw;
    }
    .header {
        width: 14% !important;
        margin: 0% 2% 2% 2%;
    }
    .resultsWrapper {
        margin-top: 0vw !important;
        margin-bottom: 1vw !important;
    }
    .rpslsImg {
        width: 100%;
        padding: 0% 5%;
    }
    .rpslsImgL {
        width: 100%;
        padding: 0% 0% 0% 5%;
    }
    .rpslsImgR {
        width: 100%;
        padding: 0% 5% 0% 0%;
    }
    .rulesCenterImg {
        width: 8% !important;
        padding: 0% 6%;
    }
    .rulesLeftArrow {
        width: 6% !important;
    }
    .rulesLeftImg {
        margin: 0% 4% 0% 20%;
        width: 6%;
    }
    .rulesRightArrow {
        width: 6%;
    }
    .rulesRightImg {
        margin: 0% 20% 0% 4%;
        width: 6%;
    }
    .theRules {
        width: 70%;
        padding: 4% 14% 5% 14%;
    }
    #chat {
        margin: 0vw 1vw 1vw -2vw;
        /* border-radius: 5px; */
    }
    #clearBoth {
        width: 75.4%;
        padding: 0%;
        border-radius: 10px;
        /* margin-bottom: 5%; */
        margin-left: 0%;
    }
    #divLeftScore {
        float: left;
        width: 41.6%;
        background-image:  url('../images/Green.jpg');
        background-size: cover;
        border-radius: 10px;
        margin: 1.5% 0% 0% 15%;
        color: black !important;
    }
    #divRightRules {
        float: right;
        width: 35%;
        margin: 0% 6.5% 0% 0%;
    }
    #events {
        width: 75%;
        height: 15vw;
        border: 2px inset #ccc;
        /* border-radius: 10px; */
        margin: 0% auto;
        background-color: #ddd;
        box-shadow: 2px 2px 2px grey;
    }
    #fullScreenWrapper {
        width: auto;
        height: 29vw;
        overflow: unset;
    }
    #headerText {
        padding: 2% 0% 1% 0% !important;
    }
    #headerWrapper {
        width: 70%;
        height: auto;
        margin: 0% auto !important;
        border-radius: 10px;
    }
    #imgMarginL {
        /* margin-left: 10% !important; */
        padding: 1% 0% 0% 0%;
    }
    #imgMarginR {
        margin-right: 10% !important;
        padding: 1% 0% 0% 0%;
    }
    #lizard {
        width: 15%;
    }
    #lossDiv {
        width: 28%;
        padding: 1%;
        margin: 0%;
        font-size: 1.2vw;
        border: 2px inset darkgray;
        border-radius: 0px;
    }
    #paper {
        width: 15%;
    }
    #rock {
        margin-left: 7%;
    }
    #rulesText {
        padding: 4% 0% 0% 0% !important;
        font-size: 4vw !important;
    }
    #say {
        margin: 0vw -2vw 1vw 0vw;
        /* border-radius: 5px; */
        width: 24%;
        line-height: 145%;
    }
    #scissors {
        width: 15%;
    }
    #scoreText {
        display: block;
        padding: 2.1% 0% 0% 0% !important;
        font-size: 3.8vw !important;
    }
    #spock {
        margin-right: 7%;
    }
    #tieDiv {
        width: 28%;
        padding: 1%;
        margin: 0%;
        font-size: 1.2vw;
        border: 2px inset darkgray;
        border-radius: 0px;
    }
    #winDiv {
        width: 28%;
        padding: 1%;
        margin: 0%;
        font-size: 1.2vw;
        border: 2px inset darkgray;
        border-radius: 0px;
    }
}